@model FloridaBikeShop.Models.ViewModels.Bicicleta_Models.Formulario_Bicicleta
@{
    ViewBag.Title = "NuevaBicicleta";
}

<h2>NuevaBicicleta</h2>

@using (Html.BeginForm("NuevaBicicleta", "Propietario", FormMethod.Post))
{ 
    <div></div>
}

